@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.HamburgerDiv{
    display:none;
}
.hamburgerIcon{
     color:black;
     font-size:22px;
}
.desktopMenu{
    display:block;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
.drawerNav ul{
  display:flex;
  flex-direction: column;
  gap:22px;
  align-items:start;
  justify-content:start;
  padding-left:10px;
  margin-top:10px;
}
.drawerNav ul li{
    font-size:16px;
    font-family: sans-serif;
    font-weight:500;
}
.navBarTop{
    top:0px;
    left:0px;
    width:100%;
    z-index:999;
}
@media only screen and (max-width:768px) {
     .HamburgerDiv{
        display:block;
     }
     .desktopMenu{
        display:none;
     }
} 
.okokok{
    z-index: 999;
}
